/*******************************
* ACCORDION WITH TOGGLE ICONS
* Does not work properly if "in" is added after "collapse".
*******************************/
	.panel-group .panel {
		border-radius: 0;
		box-shadow: none;
		border-color: #EEEEEE;
	}

	.panel-default > .panel-heading {
		padding: 0;
		border-radius: 0;
		color: #212121;
		border-color: #EEEEEE;
  }  

.panel {
  border-radius: 10px;
  background-color: #fff
}
  
.panel-body {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 10px;
  margin-top: -30px;
  border-radius: 20px;
}
	.panel-title {
		font-size: 18px;
    padding: 15px;
    font-weight: 600;

	}

	.panel-title > a {
		display: block;
		padding: 15px;
		text-decoration: none;
    border-radius: 10px;
	}

	.more-less {
		float: right;
		color: #000;
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border-top-color: #EEEEEE;
	}

.demo {
  width: 100%;
	padding-top: 60px;
	padding-bottom: 50px;
  border-radius: 10px;
}

.collapsed {
  margin: 0px;
  padding: 0px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.coc-link {
  text-decoration: none;
  color: #f2989a;
}

.coc-link: hover {
  text-decoration: none;
  color: #f7a9a5;
}

label::after {
    content: '+';
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 2px;
}

input:checked + label::after {
    content: '-';
    right: 14px;
    top: 3px;
}

.content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input + label + .content {
  opacity: 0;
	height: 0;
	font-size: 0;
	padding: 0 25px;
	transition: ease .5s;
}

input:checked + label + .content {
  opacity: 1;
	height: 120px;
	font-size: 14px;
	padding: 10px 25px;
}

@media screen and (max-width: 600px) {
  .column {
}

/* Clear floats after the columns */
.row:after {

}
}



footer{
	width: 100%;
	background-color: #FBD28C;
	background-size:cover;
	position: absolute;
	background-repeat: no-repeat;
}
footer .side-by-side{
	display: flex;
	flex-direction: row;
}
footer .text{
	display: flexbox;
	width: 30%;
	color: white;
	margin-left: 100px;

}
footer h2{
	margin-left: 100px;
	padding-top: 12%;
	top: 50px;
	color: white;
	font-size: 2.5rem;
	font-family: "Sofia Pro SemiBold";
}
footer p{
	color: white;
	font-size: 1.1rem;
	line-height: 1.6;
}
footer #links{
	margin-left: 150px;
	display: grid;
	font-size: 1.2rem;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 80px;
	grid-row-gap: 10px;
}
footer #links a{
	font-family: "Sofia Pro Medium";
	text-decoration: none;
	color: white;
	transition: text-decoration .3s;
}
.madeby{
    font-size: 1rem;
  }
@media only screen and (max-width: 1000px) {
  footer .text{
    margin-left: 70px;
  }
  footer h2{
    margin-left: 70px;
    font-size: 2.2rem;
  }
  footer p{
    font-size: 1.1rem;
  }
  footer #links a{
    font-size: 1.1rem;
  }
  footer #links{
    margin-left: 100px;
  }
  .madeby{
    font-size: .9rem;
  }
}
@media only screen and (max-width: 800px) {
  footer .text{
    margin-left: 60px;
  }
  footer h2{
    padding-top: 15%;
 
    font-size: 2rem;
  }
  footer p{
    font-size: 1rem;
  }
  footer #links a{
    font-size: 1rem;
  }
  footer #links{
    margin-left: 100px;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
  }
  .madeby{
    font-size: .8rem;
  }
}


.icons {
	text-decoration: none;
}

.icons:hover {
	text-decoration: none;
}

.icon-img {
	transition: 0.2s;
}

.icon-img:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 999px) {
	.first-col {
		padding: 40px;
	}
	.navbar {
		margin-top: -85px;
	}
	.top-image {
		display:none;
	}
  h3 {
    font-size: 12px;
  }
  .container h2 {
    font-size: 12px;
  }
}

.foothead{
  align-content:left;
}
