@font-face {
  font-family: "Sofia Pro"; 
  src: url("SofiaProRegular.ttf");
}

@font-face {
  font-family: "Sofia Pro SemiBold"; 
  src: url("SofiaProSemiBold.ttf");
}

@font-face {
  font-family: "Sofia Pro Medium"; 
  src: url("SofiaProMedium.ttf");
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("newsletterbackground.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  /* position: relative;
  width: 2001px;
  height: 2778px; */
  
  /* background: linear-gradient(180deg, #D5F0FF 0%, #F1DAFF 100%); */
	background: #FFFFFF;
  margin: auto;
	width: 650px;
	height: 675px;
	position: relative; 
  align-content: center; 
	/* -webkit-border-radius: 7px;
	-moz-border-radius: 5px; */
	border-radius: 12px;
	font-family: 'Sofia Pro', sans-serif;
	/* box-shadow: 5px 5px 10px #C3DDF8, -4px -4px 6px #fff; */
}

form, p {
	/* float: left; */
	text-align: center;
	font-size: 12px;
	line-height: 18px;
}

form {
	width: 355px;
	margin: 0 auto;
	position: relative;
}

form div { 
	float: center;
	margin-bottom: 10px;
	/* margin-left: -45px; */
}

form div input {
	width: 220px;
	height: 36px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e2e2e2;
	font-size: 15px;
	padding: 0 5px;
/* 
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
 	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
 	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
 	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s; */
}

form div input:focus{
	border-color: #aec6d6;
  
  
 	/* -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
 	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
 	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
 	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
 	transition: border linear 0.2s, box-shadow linear 0.2s; */
}
/* 
.uneditable {
	-webkit-appearance: none; 
	-moz-appearance: none; 
	border: 1px solid #e2e2e2; 
	height: 25px; 
	background: #f7f7f7; 
	padding: 5px;
} */

form div input:focus {
	outline: none;
}

#wrapper img {
	width: 36px;
	margin-right: 10px;
}

#brand h1 {
	font-size: 14px;
  
	font-weight: normal;
}

.formtitle{
  align-content: center;
  margin-left: 70px;
  color: #BB9BF8;
  
}

.fields{
  border-radius: 10px;
  margin-left: -190px;
  color: #614FD2;
  background-color: #EFE7FF
  
}

h2 {
	font-weight: bold;

	padding-top: 20px;
	font-family: 'Sofia Pro', sans-serif;
	color: #7B6BD9;
	font-size: 37px;
	margin-bottom: -15px;
	line-height: 18px;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none;
}

#break {
	margin-bottom: 10px;
}

#submit{
	clear: both;
	float: center;
	text-align: center;
	background: #C0A3F9;
	padding: 12px 24px;
	cursor: pointer;
	text-decoration: none;
	margin-left: -45px;
	color: #fff;
  width: 500px;
	border-radius: 100px;
	font-size: 18px;
	transition: 0.2s;
	font-family: "Sofia Pro Medium"
}

#submit:hover {
  	color: #7B6BD9;
	text-decoration: none;
	background-color: #fff;
}

#hp {
	display:none;
}

#gdpr {
	float: left;
	color:#323232;
	width: 280px;
	padding: 10px 10px 10px 35px;
	text-align: left !important;
}

#gdpr input {
	margin: 0px 0 0 -22px;
	width: 20px;
	height: 20px;
	float: left;
}

@viewport {
	width: device-width ;
	zoom: 1.0 ;
  }

.navbar {
	transition: all 0.6s ease-out;
	font-family: 'Sofia Pro';
	font-weight: 600;
	font-size: 16px;
}

.navbar.scrolled {
    background: #8d7fe8; 
}

.navbar {
    height: 5rem;
    color: #8d7fe8 !important;
    font-family: 'Sofia Pro';
	  font-weight: bold;
	width: 100%;
}

a.navbar-brand {
	color: #8d7fe8 !important;
  font-family: 'Sofia Pro';
	font-weight: bold;
}

.navbar-nav{
  position: relative;
}

navbar-nav{
  	white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

nav-link{
  	position: relative;
  	display:inline-block;
}

a.nav-link {
  	display:inline-block;
	color: #8d7fe8 !important;
}

.purple-subtitle{
  margin-left: 60px;
  color: #8C56ED
}

.black-subtitle{
  margin-left: 40px;
}

.header{
  font-family: 'Sofia Pro';
	font-weight: bold;
}

.imagetest {
  height: 100px;
  background: url("envelopepurple.jpg");
}

h1 {
	font-family: 'Sofia Pro SemiBold';
	font-weight: bold;
	font-size: 60px;
	color: #614FD2;
	text-align: left;
	line-height: 60px;
	margin-top: -70px;
	text-shadow: 3px 3px 3px #abcff2, -3px -3px 3px #f9fcff;
}

.fieldtitles{
  font-size: 15px;
  margin-left: -370px;
  color:#614FD2
  
}

.forminputs{
  align-content: left;
}


body {
	background-image: url(newsletter-bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #D6EDFE;
	-webkit-font-smoothing: subpixel-antialiased;
}

* {
	scroll-behavior: smooth;
}

p {
	font-family: 'Sofia Pro';
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: #614FD2;
	text-align: left;
}

.container {
	margin-top: 100px;
}

.row {
	margin-top: 200px;
	text-align: center;
	justify-content: center;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}


.column {
	float: left;
	width: 50%;
}
  
.row:after {
	content: "";
	display: table;
	clear: both;
}

h4 {
	font-family: 'Sofia Pro';
}

.footertitle{
  font-weight: normal;
  font-family: 'Sofia Pro', sans-serif;
}


.footer {
	  font-family: 'Sofia Pro';
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 22rem;
    background-color: #D7EDFE; 
    color: #614FD2;
    text-align: center;
  }

  .footer-list {
    list-style-type: none;
   }

   a.footer-list-text {
    color: #A3826C;  
    text-decoration: underline;
   }

.footer-social-icon {
       padding-right: .5rem;
       color: white;
       width: 5em; 
       height: 5em;
}

.footer-text {
    padding-top: 4rem;
}

.footer-emails {
	font-family: 'Sofia Pro';
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #7B6BD9;
	text-align: left;
	text-decoration: none;

}

.footer-desc {
	font-family: 'Sofia Pro';
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #7B6BD9;
	text-align: left;
	margin-top: 10px;
}

.icons {
	text-decoration: none;
}

.icons:hover {
	text-decoration: none;
}

.icon-img {
	transition: 0.2s;
}

.icon-img:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 999px) {
	.first-col {
		padding: 40px;
	}
	.navbar {
		margin-top: -85px;
    font-family: 'Sofia Pro';
	  font-weight: bold;
	}
	.top-image {
		width: 50%;
		margin-top: 250px;
		margin-bottom: -100px;
	}
}

@media screen and (min-width: 1000px) {
	.first-col {
		padding: 20px;
	}	
	.navbar {
		margin-top: -40px;
	}
	.top-image {
		width: 75%;
	}
}


nav {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 75px;
  z-index: 100;
}

ul {
  float: right;
  margin-right: 20px;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li a {
  display: block;
  text-decoration: none;
  text-align: right;
  font-size: 16px;
  font-family: 'Sofia Medium';
  color: #BF9FF8;
  line-height: 75px;
  padding: 0 20px;
  transition: 0.3s;
}

ul li a:hover {
  color: #8E57F0;
}


footer{
	width: 100%;
	background-image: url(footer.png);
	background-size:cover;
	position: absolute;
	background-repeat: no-repeat;
}
footer .side-by-side{
	display: flex;
	flex-direction: row;
}
footer .text{
	display: flexbox;
	width: 30%;
	color: white;
	margin-left: 100px;

}
footer h2{
	margin-left: 100px;
	padding-top: 12%;
	top: 50px;
	color: white;
	font-size: 2.5rem;
	font-family: "Sofia SemiBold";
}
footer p{
	color: white;
	font-size: 1.1rem;
	line-height: 1.6;
}
footer #links{
	margin-left: 150px;
	display: grid;
	font-size: 1.2rem;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 80px;
	grid-row-gap: 10px;
}
footer #links a{
	font-family: "Sofia Medium";
  font-weight:normal;
	text-decoration: none;
	color: white;
	transition: text-decoration .3s;
}
.madeby{
    font-size: 1rem;
  }
@media only screen and (max-width: 1000px) {
  footer .text{
    margin-left: 70px;
  }
  footer h2{
    margin-left: 70px;
    font-size: 2.2rem;
  }
  footer p{
    font-size: 1.1rem;
  }
  footer #links a{
    font-size: 1.1rem;
  }
  footer #links{
    margin-left: 100px;
  }
  .madeby{
    font-size: .9rem;
  }
}
@media only screen and (max-width: 800px) {
  footer .text{
    margin-left: 60px;
  }
  footer h2{
    padding-top: 15%;
    margin-left: 60px;
    font-size: 2rem;
  }
  footer p{
    font-size: 1rem;
  }
  footer #links a{
    font-size: 1rem;
  }
  footer #links{
    margin-left: 100px;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
  }
  .madeby{
    font-size: .8rem;
  }
}
