/*FONTS*/
@font-face {
  font-family: Sofia Bold;
  src: url(../SofiaProBold.ttf);
}
@font-face {
  font-family: Sofia Medium;
  src: url(../SofiaProMedium.ttf);
}
@font-face {
  font-family: Sofia SemiBold;
  src: url(../SofiaProSemiBold.ttf);
}

* {
	margin: 0;
	padding: 0;
}

html {
 margin: 0;
 padding: 0;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

::selection {
  background: #ffdde0;
}

::-moz-selection {
  background: #ffdde0;
}

/* SOCIAL MEDIA BAR */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(0%);
  right: 0;
  z-index: 9999!important;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  : all 0transition.4s ease;
  color: white;
  font-size: 20px;
  background-color: #f7a8ae;
}

.icon-bar a:hover {
  color: #ed6873;
}

.instagram {
  color: white;
  border-radius: 15px 0px 0px 0px;
}

.tiktok {
  color: white;
}

.google {
  color: white;
}

.linkedin {
  color: white;
}

.youtube {
  color: white;
}

.slack {
  color: white;
  border-radius: 0px 0px 0px 15px;
}

/* BODY */
/*
body {
	background-image: url(Background.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #EFE7FF;
	-webkit-font-smoothing: subpixel-antialiased;
}*/

/* INITIAL PAGE */

.initial {
  text-align: center;
}

#title {
  font-family: 'Sofia SemiBold';
  font-size: 65px;
  color: #8E57F0;
  text-align: center;
  margin-top: 130px;
}

#subtitle {
  font-family: 'Sofia SemiBold';
  font-size: 35px;
  color: #A375F3;
  text-align: center;
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  #initial-artwork {
    margin-top: 20px;
    width: 50%;
  }
  .initial-video {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 600px){
  #initial-artwork {
    margin-top: 20px;
    width: 40%;
  }
  .initial-video {
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  #initial-artwork {
    margin-top: 20px;
    width: 27%;
  }
  .initial-video {
    width: 30%;
  }
}

/* NAVIGATION BAR */

nav {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 75px;
  z-index: 100;
}

ul {
  float: right;
  margin-right: 20px;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li a {
  display: block;
  text-decoration: none;
  text-align: right;
  font-size: 16px;
  font-family: 'Sofia Medium';
  color: #BF9FF8;
  line-height: 75px;
  padding: 0 20px;
  transition: 0.3s;
}

ul li a:hover {
  color: #8E57F0;
}

/* LANDING */
.initial{
	background-image: url(landing-bkg.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding: 20px;
	position: relative;
	top: 0px;
}

/* OUR PHILOSOPHY */

.our-philosophy {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  text-align: center;
  width: 80%;
  margin-bottom: -70px;
  z-index: 1;
}

.our-philosophy img {
  transition: 0.3s;
}

.our-philosophy img:hover {
  transform: rotate(0.015turn);
}

mark {
    background: linear-gradient(180deg, #fff 50%, #fce3ba 50%);
    color: #36303b;
}

h3 {
  font-family: 'Sofia SemiBold';
  font-size: 35px;
  line-height: 45px;
  color: #8E57F0;
}

p {
  font-family: 'Sofia Medium';
  font-size: 20px;
  color: #36303b;
  line-height: 30px;
}


/*OPPORTUNITIES*/

.curly-images::before{
	content: "";
 	background-image:url("opportunities-frontcover.png");
 	background-size: 100% 100%;
 	display: inline-block;
 	height: 30%;
 	width:100%;
 	position:relative;
 	top: 70px;
}
.curly-images::after{
	content: "";
 	background-image:url("opportunities-backcover.png");
 	background-size: 100% 100%;
 	display: inline-block;
 	height: 7%;
 	width:100%;
 	position:relative;
}

#opportunities {
	padding: 50px 135px 50px 135px;
	background-image: url("opportunities-bkg.png");
	background-attachment: fixed;
  background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
	background-repeat: no-repeat;
	background-size:cover;
	font-family: "Sofia Medium";
}

.grid-container{
	margin: 0px 3% 10% 0%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px 50px;
}

.grid-container img{
	height: 55px;
}

.grid-container div {
	border-radius: 15px;
	box-shadow: inset 0 0 10px #FFFFFF;
	background-color: rgba(255, 255, 255, .97);
	padding: 35px 30px;
	box-shadow: 0 0 11px rgba(255, 192, 227, .3);
	transition: box-shadow .2s;
}

.grid-container div:hover {
	box-shadow: 0 0 11px rgba(255, 192, 227, 1);
}

.grid-container a {
	text-decoration: none;
	background-color: #3EA6FF;
	padding: 10px 20px;
	border-radius: 20px;
	color: white;
  transition: 0.3s;
  font-size: 16px;
}

.grid-container a:hover {
  background-color: #F18B95;
}

#opportunities h2 {
  letter-spacing: .5px;
	margin: 100px 0px 0px -40px;
	text-align: center;
	color: white;
	font-size: 3rem;
	text-shadow: 0px 0px 15px rgba(0,0,0,.1), 0px 0px 15px #FFC0E3;

}
#opportunities h3 {
	letter-spacing: .5px;
	margin: 20px 0px 80px 10px;
	text-align: center;
	color: white;
	font-size: 1.5rem;
  line-height: 2rem;
	text-shadow: 0px 4px 4px rgba(0,0,0,.25);
}

#opportunities h4 {
	margin: 10px 0px 0px 0px;
	color: #8E57F0;
	font-size: 1.7rem;
}

#opportunities p {
	margin: 10px 0px 20px 0px;
	line-height: 1.5;
	color: #A375F3;
	font-size: 1.1rem;
}

#magazines {
	padding: 5px 20px 100px -70px;
}

#magazines h2 {
	font-size: 3.3rem;
	font-family: "Sofia Medium";
	margin: 10% 0% 0% 0%;
	text-align: center;
	color: #8E57F0;
}
#magazines h3 {
	font-family: "Sofia Medium";
	font-size: 2rem;
	text-align: center;
  margin-top: 10px;
  line-height: 2rem;
	color: #A579F3;
}

.magazine-container {
  padding: 5px 135px 100px 135px;
	text-align:center;
	display: grid;
	grid-template-columns: repeat(4, 1fr)
}

.magazine-container img {
	width: 100%;
	max-width: 220px;
	margin: 0;
	padding: 0;
  transition: 0.2s;
}

.magazine-container img:hover {
  transform: scale(1.05);
}

.magazine-container p {
	color: #FFC0E3;
	font-size: 1.3rem;
	font-family: "Sofia SemiBold";
	margin: 38px 0px 0px 0px;
}

@media only screen and (max-width: 900px) {
  .grid-container {
    	grid-template-columns: 1fr;
  }
  .magazine-container {
    	grid-template-columns: 1fr;
  }
}

#services {
  padding: 250px 0px 10px 0px;
  background-image: url("ourservices-background.png");
  background-repeat: no-repeat;
  background-size:cover;
}

#divider{
  border: none;
  margin: 0% 15%;
  height:8px;
  border-radius: 5px;
  background: #AC83F4;
}


#services h2 {
  font-size: 3.3rem;
  font-family: "Sofia SemiBold";
  text-align: left;
  color: #fff;
}

#services h3 {
  font-size: 2.5rem;
  font-family: "Sofia SemiBold";
  margin-top: 2%;
  text-align: left;
  color: #fff;
  opacity: 95%;
}

#services p {
  font-family: "Sofia SemiBold";
  font-size: 1.5rem;
  text-align: left;
  opacity: 70%;
}

#services #events p {
  color: #e5f0ff;

}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#services #instagram p {
  color: #e5f0ff;

}

#heading{
    display: inline-flex;
}
#services p a {
  color: #fcfdff;
  opacity: 100%;
  text-decoration: none;
}

#services #events #subtitle {
  margin-bottom: 40px;
}

#services #instagram #subtitle {
  margin-bottom: 60px;
}

#services #button {
  font-family: "Sofia SemiBold";
  text-decoration: none;
  background-color: #e5f0ff;
  padding: 0px 20px;
  vertical-align: text-top;
  border-radius: 20px;
  color: #A375F4;
  transition: 0.3s;
  font-size: 16px;
  text-align: center;
  margin: auto;
  margin-left: 20px;
}

#services #button2 {
  font-family: "Sofia SemiBold";
  text-decoration: none;
  padding: 0px 20px;
  vertical-align: text-top;
  border-radius: 20px;
  transition: 0.3s;
  font-size: 16px;
  text-align: center;
  margin: auto;
  margin-left: 20px;
  position: relative;
  display: inline-block;
  top: -3px;
  background-color: #783DDE;
  color: #E2F5FF
}


#services #button:hover {
  background-color: #fff;
  color: #AC83F4;
}

#services #button2:hover {
  box-shadow: none;
  background-color: #6A2AD8;
}

#services img {
  width: 70%;
  transition: 0.2s
}

#services img:hover {
  transform: scale(1.03);
}
#testimonial, #services p, #services h2, #services h3{
  margin-left: 15%;
}
#testimonial {
  font-style: italic;
  font-size: 1.3rem;
  margin-right: 30%;
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: left;
  color: #e5f0ff;
  opacity: 70%;
  font-family: "Sofia Medium";
}

#testimonial-name {
  opacity: 55%;
}

#timeline {
  text-align: center;
  margin-bottom: 60px;
}

#takeovers {
  text-align: center;
  margin-top: -45px;
  margin-bottom: -120px;
}

@media only screen and (max-width: 1000px) {
  #services p {
    width: 70%;
  }

  .left {

  }

  .right {

  }

  #our-philosophy h3 {
  	  text-align: center;
  }

  .takeover-mobile {
    display: block;
    text-align: center;
    margin-top: -45px;
    margin-bottom: 250px;
  }

  .takeover-desktop img {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  #services p {
    width: 30%;
  }

  .left {
  	display: inline-block;
  	width: 40%;
  	text-align: left;
  }

  .right {
  	display: inline-block;
	width: 40%;
	vertical-align: top;
	margin-top: -10px;
  }

  #our-philosophy h3 {
  	text-align: left;
  }

  .takeover-mobile img {
    display: none;
  }

  .takeover-desktop {
    display: block;
    text-align: center;
    margin-bottom: 250px;
  }
}

footer{
	width: 100%;
	background-image: url(footer.png);
	background-size:cover;
	position: absolute;
	background-repeat: no-repeat;
}
footer .side-by-side{
	display: flex;
	flex-direction: row;
}
footer .text{
	display: flexbox;
	width: 30%;
	color: white;
	margin-left: 100px;

}
footer h2{
	margin-left: 100px;
	padding-top: 12%;
	top: 50px;
	color: white;
	font-size: 2.5rem;
	font-family: "Sofia SemiBold";
}
footer p{
	color: white;
	font-size: 1.1rem;
	line-height: 1.6;
}
footer #links{
	margin-left: 150px;
	display: grid;
	font-size: 1.2rem;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 80px;
	grid-row-gap: 10px;
}
footer #links a{
	font-family: "Sofia Medium";
	text-decoration: none;
	color: white;
	transition: text-decoration .3s;
}
.madeby{
    font-size: 1rem;
  }
@media only screen and (max-width: 1000px) {
  footer .text{
    margin-left: 70px;
  }
  footer h2{
    margin-left: 70px;
    font-size: 2.2rem;
  }
  footer p{
    font-size: 1.1rem;
  }
  footer #links a{
    font-size: 1.1rem;
  }
  footer #links{
    margin-left: 100px;
  }
  .madeby{
    font-size: .9rem;
  }
}
@media only screen and (max-width: 800px) {
  footer .text{
    margin-left: 60px;
  }
  footer h2{
    padding-top: 15%;
    margin-left: 60px;
    font-size: 2rem;
  }
  footer p{
    font-size: 1rem;
  }
  footer #links a{
    font-size: 1rem;
  }
  footer #links{
    margin-left: 100px;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
  }
  .madeby{
    font-size: .8rem;
  }
}


blockquote{
  font-family: Sofia Medium;
  color: white;
  font-size: 1.4rem;
  margin-left: 15%;
  width: 70%;
  text-align: center;
}

.testimonial-slider {
   display: block;
   width: 100%;
   height: auto;
   margin-top: 80px;
}
#services .testimonial-slider p{
  margin-top: 5px;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  width: 70%;
}
.testimonial-slider ul.slider {
   display: block;
   list-style: none;
   padding: 0;
   position: relative;
   display: inline-block;
   width: 100%;
   height: 170px;
   overflow: hidden;
   margin: 0 auto;
}

.testimonial-slider ul.slider li {
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0;
    margin: 0 auto;
}
.testimonial-slider ul.slider li:nth-child(1) {
    opacity: 1;

    -webkit-animation: fade-animation-1 25s infinite;
            animation: fade-animation-1 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(2) {
    -webkit-animation: fade-animation-2 25s infinite;
            animation: fade-animation-2 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(3) {
    -webkit-animation: fade-animation-3 25s infinite;
            animation: fade-animation-3 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(4) {
    -webkit-animation: fade-animation-4 25s infinite;
            animation: fade-animation-4 25s infinite;
}
/* KEYFRAME DECLARATIONS */
@keyframes fade-animation-1 {
    0%, 25%, 100% {
        opacity:0
    }
    3%, 22% {
        opacity: 1;
    }
}
@keyframes fade-animation-2 {
    0%, 25%, 50%, 100% {
        opacity:0
    }
    28%, 47% {
        opacity: 1;
    }
}
@keyframes fade-animation-3 {
    0%, 50%, 75%, 100% {
        opacity:0
    }
    53%, 72% {
        opacity: 1;
    }
}
@keyframes fade-animation-4 {
    0%, 75%, 100% {
        opacity:0
    }
    78%, 97% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-animation-1 {
    0%, 25%, 100% {
        opacity:0
    }
    3%, 22% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-2 {
    0%, 25%, 50%, 100% {
        opacity:0
    }
    28%, 47% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-3 {
    0%, 50%, 75%, 100% {
        opacity:0
    }
    53%, 72% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-4 {
    0%, 75%, 100% {
        opacity:0
    }
    78%, 97% {
        opacity: 1;
    }
}
#get-involved{
  margin: auto;
  padding: 0% 10% 10% 15%;
  background-color: #EFE7FF;
}
#get-involved #grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 800px) {
  #get-involved #grid{
    grid-template-columns: 1fr;
  }
}
#get-involved #subtitle{
  text-align: left;
  font-size: 2rem;
  margin-bottom: 50px;
}
#get-involved img{
  height: 110px;
}
#get-involved h2{
  padding-top: 10%;
  font-size: 3.3rem;
  font-family: "Sofia SemiBold";
  color: #8E57F0;
}
#get-involved div{
  transition: .2s;
}
#get-involved a{
  text-decoration: none
}
#get-involved #grid div:hover{
  transform: scale(1.05);
}
#get-involved h3{
  font-size: 1.6rem;
  line-height: 1.4;
  color: #9186D4;
}
#get-involved #grid p{
  font-size: 1rem;
  width: 70%;
  line-height: 1.7;
  color: #2E2D30;
}


